In [25]:
import sys
import os
import pickle

import numpy as np
import pandas as pd
from functools import wraps
from sklearn.preprocessing import minmax_scale

In [91]:
DEFAULT_USER_COL = "userID"
DEFAULT_ITEM_COL = "itemID"
DEFAULT_RATING_COL = "rating"
DEFAULT_LABEL_COL = "label"
DEFAULT_RELEVANCE_COL = "relevance"
DEFAULT_TIMESTAMP_COL = "timestamp"
DEFAULT_PREDICTION_COL = "prediction"
DEFAULT_SIMILARITY_COL = "sim"
DEFAULT_ITEM_FEATURES_COL = "features"
DEFAULT_ITEM_SIM_MEASURE = "item_cooccurrence_count"

COL_DICT = {
    "col_user": DEFAULT_USER_COL,
    "col_item": DEFAULT_ITEM_COL,
    "col_rating": DEFAULT_RATING_COL,
    "col_prediction": DEFAULT_PREDICTION_COL,
}

# Filtering variables
DEFAULT_K = 10
DEFAULT_THRESHOLD = 10

# Other
SEED = 42

def merge_ranking_true_pred(
    rating_true,
    rating_pred,
    col_user,
    col_item,
    col_rating,
    col_prediction,
    relevancy_method,
    k=DEFAULT_K,
    threshold=DEFAULT_THRESHOLD,
):
    """Filter truth and prediction data frames on common users

    Args:
        rating_true (pandas.DataFrame): True DataFrame
        rating_pred (pandas.DataFrame): Predicted DataFrame
        col_user (str): column name for user
        col_item (str): column name for item
        col_rating (str): column name for rating
        col_prediction (str): column name for prediction
        relevancy_method (str): method for determining relevancy ['top_k', 'by_threshold', None]. None means that the
            top k items are directly provided, so there is no need to compute the relevancy operation.
        k (int): number of top k items per user (optional)
        threshold (float): threshold of top items per user (optional)

    Returns:
        pandas.DataFrame, pandas.DataFrame, int: DataFrame of recommendation hits, sorted by `col_user` and `rank`
        DataFrmae of hit counts vs actual relevant items per user number of unique user ids
    """

    # Make sure the prediction and true data frames have the same set of users
    common_users = set(rating_true[col_user]).intersection(set(rating_pred[col_user]))
    rating_true_common = rating_true[rating_true[col_user].isin(common_users)]
    rating_pred_common = rating_pred[rating_pred[col_user].isin(common_users)]
    n_users = len(common_users)

    # Return hit items in prediction data frame with ranking information. This is used for calculating NDCG and MAP.
    # Use first to generate unique ranking values for each item. This is to align with the implementation in
    # Spark evaluation metrics, where index of each recommended items (the indices are unique to items) is used
    # to calculate penalized precision of the ordered items.
    if relevancy_method == "top_k":
        top_k = k
    elif relevancy_method == "by_threshold":
        top_k = threshold
    elif relevancy_method is None:
        top_k = None
    else:
        raise NotImplementedError("Invalid relevancy_method")
    df_hit = get_top_k_items(
        dataframe=rating_pred_common,
        col_user=col_user,
        col_rating=col_prediction,
        k=top_k,
    )
    df_hit = pd.merge(df_hit, rating_true_common, on=[col_user, col_item])[
        [col_user, col_item, "rank"]
    ]

    # count the number of hits vs actual relevant items per user
    df_hit_count = pd.merge(
        df_hit.groupby(col_user, as_index=False)[col_user].agg({"hit": "count"}),
        rating_true_common.groupby(col_user, as_index=False)[col_user].agg(
            {"actual": "count"}
        ),
        on=col_user,
    )

    return df_hit, df_hit_count, n_users


def recall_at_k(
    rating_true,
    rating_pred,
    col_user=DEFAULT_USER_COL,
    col_item=DEFAULT_ITEM_COL,
    col_rating=DEFAULT_RATING_COL,
    col_prediction=DEFAULT_PREDICTION_COL,
    relevancy_method="top_k",
    k=DEFAULT_K,
    threshold=DEFAULT_THRESHOLD,
):
    """Recall at K.

    Args:
        rating_true (pandas.DataFrame): True DataFrame
        rating_pred (pandas.DataFrame): Predicted DataFrame
        col_user (str): column name for user
        col_item (str): column name for item
        col_rating (str): column name for rating
        col_prediction (str): column name for prediction
        relevancy_method (str): method for determining relevancy ['top_k', 'by_threshold', None]. None means that the
            top k items are directly provided, so there is no need to compute the relevancy operation.
        k (int): number of top k items per user
        threshold (float): threshold of top items per user (optional)

    Returns:
        float: recall at k (min=0, max=1). The maximum value is 1 even when fewer than
        k items exist for a user in rating_true.
    """

    df_hit, df_hit_count, n_users = merge_ranking_true_pred(
        rating_true=rating_true,
        rating_pred=rating_pred,
        col_user=col_user,
        col_item=col_item,
        col_rating=col_rating,
        col_prediction=col_prediction,
        relevancy_method=relevancy_method,
        k=k,
        threshold=threshold,
    )

    if df_hit.shape[0] == 0:
        return 0.0
    
    print(df_hit)
    print(df_hit_count)

    return (df_hit_count["hit"] / df_hit_count["actual"]).sum() / n_users


def ndcg_at_k(
    rating_true,
    rating_pred,
    col_user=DEFAULT_USER_COL,
    col_item=DEFAULT_ITEM_COL,
    col_rating=DEFAULT_RATING_COL,
    col_prediction=DEFAULT_PREDICTION_COL,
    relevancy_method="top_k",
    k=DEFAULT_K,
    threshold=DEFAULT_THRESHOLD,
):
    """Normalized Discounted Cumulative Gain (nDCG).

    Info: https://en.wikipedia.org/wiki/Discounted_cumulative_gain

    Args:
        rating_true (pandas.DataFrame): True DataFrame
        rating_pred (pandas.DataFrame): Predicted DataFrame
        col_user (str): column name for user
        col_item (str): column name for item
        col_rating (str): column name for rating
        col_prediction (str): column name for prediction
        relevancy_method (str): method for determining relevancy ['top_k', 'by_threshold', None]. None means that the
            top k items are directly provided, so there is no need to compute the relevancy operation.
        k (int): number of top k items per user
        threshold (float): threshold of top items per user (optional)

    Returns:
        float: nDCG at k (min=0, max=1).
    """

    df_hit, df_hit_count, n_users = merge_ranking_true_pred(
        rating_true=rating_true,
        rating_pred=rating_pred,
        col_user=col_user,
        col_item=col_item,
        col_rating=col_rating,
        col_prediction=col_prediction,
        relevancy_method=relevancy_method,
        k=k,
        threshold=threshold,
    )

    if df_hit.shape[0] == 0:
        return 0.0

    # calculate discounted gain for hit items
    df_dcg = df_hit.copy()
    # relevance in this case is always 1
    df_dcg["dcg"] = 1 / np.log1p(df_dcg["rank"])
    # sum up discount gained to get discount cumulative gain
    df_dcg = df_dcg.groupby(col_user, as_index=False, sort=False).agg({"dcg": "sum"})
    # calculate ideal discounted cumulative gain
    df_ndcg = pd.merge(df_dcg, df_hit_count, on=[col_user])
    df_ndcg["idcg"] = df_ndcg["actual"].apply(
        lambda x: sum(1 / np.log1p(range(1, min(x, k) + 1)))
    )

    # DCG over IDCG is the normalized DCG
    return (df_ndcg["dcg"] / df_ndcg["idcg"]).sum() / n_users


def get_top_k_items(
    dataframe, col_user=DEFAULT_USER_COL, col_rating=DEFAULT_RATING_COL, k=DEFAULT_K
):
    """Get the input customer-item-rating tuple in the format of Pandas
    DataFrame, output a Pandas DataFrame in the dense format of top k items
    for each user.

    Note:
        If it is implicit rating, just append a column of constants to be
        ratings.

    Args:
        dataframe (pandas.DataFrame): DataFrame of rating data (in the format
        customerID-itemID-rating)
        col_user (str): column name for user
        col_rating (str): column name for rating
        k (int or None): number of items for each user; None means that the input has already been
        filtered out top k items and sorted by ratings and there is no need to do that again.

    Returns:
        pandas.DataFrame: DataFrame of top k items for each user, sorted by `col_user` and `rank`
    """
    # Sort dataframe by col_user and (top k) col_rating
    if k is None:
        top_k_items = dataframe
    else:
        top_k_items = (
            dataframe.groupby(col_user, as_index=False)
            .apply(lambda x: x.nlargest(k, col_rating))
            .reset_index(drop=True)
        )
    # Add ranks
    top_k_items["rank"] = top_k_items.groupby(col_user, sort=False).cumcount() + 1
    return top_k_items

In [92]:
df_p2 = df_p.copy()
df_p2[COL_PREDICTION] = -df_p2[COL_PREDICTION]
recall_at_k(
    rating_true=df_t,
    rating_pred=df_p2,
    col_user=COL_USER,
    col_item=COL_ITEM,
    col_rating=COL_RATING,
    col_prediction=COL_PREDICTION,
    relevancy_method="top_k",
    k=10,
    threshold=101,
)

   UserId  ItemId  rank
0    2863   47137     1
1    2863   27086     2
2    2863   38556     3
3    2863   69244     4
4    2863    5429     5
5    2863   72843     6
6    2863    8403     7
7    2863   15839     8
8    2863   75246     9
9    2863   39113    10
   UserId  hit  actual
0    2863   10     101

0.09900990099009901

In [84]:
df_p2 = df_p.copy()
df_p2[COL_PREDICTION] = df_p2[COL_PREDICTION]
ndcg_at_k(
    rating_true=df_t,
    rating_pred=df_p2,
    col_user=COL_USER,
    col_item=COL_ITEM,
    col_rating=COL_RATING,
    col_prediction=COL_PREDICTION,
    relevancy_method="top_k",
    k=10,
    threshold=101,
)

1.0

In [8]:
COL_USER = "UserId"
COL_ITEM = "MovieId"
COL_RATING = "Rating"
COL_PREDICTION = "Rating"

HEADER = {
    "col_user": COL_USER,
    "col_item": COL_ITEM,
    "col_rating": COL_RATING,
    "col_prediction": COL_PREDICTION,
}

df_true = pd.DataFrame(
        {
            COL_USER: [1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
            COL_ITEM: [1, 2, 3, 1, 4, 5, 6, 7, 2, 5, 6, 8, 9, 10, 11, 12, 13, 14],
            COL_RATING: [5, 4, 3, 5, 5, 3, 3, 1, 5, 5, 5, 4, 4, 3, 3, 3, 2, 1],
        }
    )
df_pred = pd.DataFrame(
    {
        COL_USER: [1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
        COL_ITEM: [3, 10, 12, 10, 3, 5, 11, 13, 4, 10, 7, 13, 1, 3, 5, 2, 11, 14],
        COL_PREDICTION: [14, 13, 12, 14, 13, 12, 11, 10, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5]
    }
)

In [9]:
df_true_bin = df_true.copy()
df_true_bin[COL_RATING] = df_true_bin[COL_RATING].apply(lambda x: 1 if x > 3 else 0)

df_true_bin

    UserId  MovieId  Rating
0        1        1       1
1        1        2       1
2        1        3       0
3        2        1       1
4        2        4       1
5        2        5       0
6        2        6       0
7        2        7       0
8        3        2       1
9        3        5       1
10       3        6       1
11       3        8       1
12       3        9       1
13       3       10       0
14       3       11       0
15       3       12       0
16       3       13       0
17       3       14       0

In [12]:
# Convert the predicted ratings into a [0, 1] scale.
df_pred_bin = df_pred.copy()
df_pred_bin[COL_PREDICTION] = minmax_scale(df_pred_bin[COL_PREDICTION].astype(float))

df_pred_bin

    UserId  MovieId    Rating
0        1        3  1.000000
1        1       10  0.888889
2        1       12  0.777778
3        2       10  1.000000
4        2        3  0.888889
5        2        5  0.777778
6        2       11  0.666667
7        2       13  0.555556
8        3        4  1.000000
9        3       10  0.888889
10       3        7  0.777778
11       3       13  0.666667
12       3        1  0.555556
13       3        3  0.444444
14       3        5  0.333333
15       3        2  0.222222
16       3       11  0.111111
17       3       14  0.000000

In [16]:
ndcg_at_k(
    rating_true=df_true_bin,
    rating_pred=df_pred_bin,
    col_user=COL_USER,
    col_item=COL_ITEM,
    col_rating=COL_RATING,
    col_prediction=COL_PREDICTION,
    relevancy_method="top_k",
    k=DEFAULT_K,
    threshold=DEFAULT_THRESHOLD,
)

0.38172659753071597

In [27]:
with open('../data/sample.pkl', 'rb') as handle:
    df_t, df_p = pickle.load(handle)

In [30]:
from IPython.display import display_html

In [31]:
df1_styler = df_t.style.set_table_attributes("style='display:inline'").set_caption('True Ratings')
df2_styler = df_p.style.set_table_attributes("style='display:inline'").set_caption('Predicted Ratings')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,UserId,ItemId,Rating
0,2863,69244,1
1,2863,69767,0
2,2863,18037,0
3,2863,39005,0
4,2863,46960,0
5,2863,84736,0
6,2863,48964,0
7,2863,27001,0
8,2863,28273,0
9,2863,41768,0
10,2863,6858,0
11,2863,77823,0
12,2863,29647,0
13,2863,55091,0
14,2863,34486,0
15,2863,14932,0
16,2863,17629,0
17,2863,28062,0
18,2863,38556,0
19,2863,75368,0
20,2863,27787,0
21,2863,38563,0
22,2863,25700,0
23,2863,25709,0
24,2863,5098,0
25,2863,48414,0
26,2863,42208,0
27,2863,29781,0
28,2863,58237,0
29,2863,9674,0
30,2863,39113,0
31,2863,38437,0
32,2863,42052,0
33,2863,82815,0
34,2863,21103,0
35,2863,18349,0
36,2863,10785,0
37,2863,47345,0
38,2863,15839,0
39,2863,58125,0
40,2863,59113,0
41,2863,59850,0
42,2863,10450,0
43,2863,57261,0
44,2863,56150,0
45,2863,77745,0
46,2863,46701,0
47,2863,37192,0
48,2863,74988,0
49,2863,84268,0
50,2863,63149,0
51,2863,62754,0
52,2863,5967,0
53,2863,80695,0
54,2863,50920,0
55,2863,9850,0
56,2863,19362,0
57,2863,81591,0
58,2863,273,0
59,2863,15488,0
60,2863,5429,0
61,2863,39755,0
62,2863,27086,0
63,2863,84931,0
64,2863,21799,0
65,2863,51017,0
66,2863,47137,0
67,2863,47451,0
68,2863,82067,0
69,2863,29281,0
70,2863,51046,0
71,2863,48374,0
72,2863,29395,0
73,2863,73401,0
74,2863,78829,0
75,2863,13517,0
76,2863,65805,0
77,2863,10340,0
78,2863,13062,0
79,2863,8403,0
80,2863,28622,0
81,2863,60287,0
82,2863,72843,0
83,2863,4403,0
84,2863,38830,0
85,2863,9071,0
86,2863,17710,0
87,2863,59730,0
88,2863,30440,0
89,2863,16267,0
90,2863,31653,0
91,2863,63006,0
92,2863,38156,0
93,2863,59511,0
94,2863,75246,0
95,2863,79951,0
96,2863,22716,0
97,2863,23521,0
98,2863,35880,0
99,2863,56082,0
100,2863,19482,0
,UserId,ItemId,Rating
0,2863,69244,-1.398543
1,2863,69767,1.608236
2,2863,18037,0.769372
3,2863,39005,0.195547
4,2863,46960,2.351576
5,2863,84736,0.826964
6,2863,48964,2.895048
7,2863,27001,2.525476
8,2863,28273,1.644786
9,2863,41768,2.293072
10,2863,6858,0.280964
11,2863,77823,1.276609
12,2863,29647,-0.590024
13,2863,55091,2.593837
14,2863,34486,2.287260
15,2863,14932,1.766786
16,2863,17629,0.756527
17,2863,28062,2.322942
18,2863,38556,-1.604247
19,2863,75368,1.054580
20,2863,27787,2.992845
21,2863,38563,1.623603
22,2863,25700,2.208581
23,2863,25709,1.310169
24,2863,5098,1.318041
25,2863,48414,1.313120
26,2863,42208,0.301346
27,2863,29781,-0.683825
28,2863,58237,0.584665
29,2863,9674,1.968716
30,2863,39113,-0.801687
31,2863,38437,0.123447
32,2863,42052,0.840590
33,2863,82815,-0.586457
34,2863,21103,0.761280
35,2863,18349,2.913663
36,2863,10785,0.823147
37,2863,47345,-0.265854
38,2863,15839,-0.869257
39,2863,58125,0.879427
40,2863,59113,0.034093
41,2863,59850,2.238244
42,2863,10450,2.130925
43,2863,57261,1.417808
44,2863,56150,0.752576
45,2863,77745,0.259741
46,2863,46701,1.189364
47,2863,37192,0.529917
48,2863,74988,1.743529
49,2863,84268,1.021617
50,2863,63149,1.200972
51,2863,62754,2.476702
52,2863,5967,0.905209
53,2863,80695,0.637529
54,2863,50920,2.035732
55,2863,9850,1.622783
56,2863,19362,2.560295
57,2863,81591,1.814424
58,2863,273,2.158044
59,2863,15488,1.730249
60,2863,5429,-1.315196
61,2863,39755,0.068690
62,2863,27086,-1.604856
63,2863,84931,1.744602
64,2863,21799,0.157313
65,2863,51017,1.317973
66,2863,47137,-1.952552
67,2863,47451,1.330766
68,2863,82067,1.125409
69,2863,29281,0.393877
70,2863,51046,0.398219
71,2863,48374,0.250101
72,2863,29395,0.180856
73,2863,73401,2.293109
74,2863,78829,-0.623154
75,2863,13517,1.701219
76,2863,65805,0.802157
77,2863,10340,1.181627
78,2863,13062,1.264031
79,2863,8403,-1.106070
80,2863,28622,1.651292
81,2863,60287,1.629230
82,2863,72843,-1.296132
83,2863,4403,1.347452
84,2863,38830,0.625567
85,2863,9071,0.686111
86,2863,17710,2.510347
87,2863,59730,2.597712
88,2863,30440,0.459727
89,2863,16267,-0.166987
90,2863,31653,1.886614
91,2863,63006,2.791685
92,2863,38156,1.965750
93,2863,59511,2.452495
94,2863,75246,-0.820256
95,2863,79951,1.565307
96,2863,22716,1.457211
97,2863,23521,1.733724
98,2863,35880,1.588170
99,2863,56082,0.042399
100,2863,19482,2.203072

In [52]:
rank = df_p['Rating'].argsort().argsort()[0]
if rank < 10:
    NDCG = 1 / np.log2(rank + 2)
    HT = 1
print(f"Rank: {rank}, NDCG: {NDCG:.4f}, Recall: {HT}")

Rank: 3, NDCG: 0.4307, Recall: 1

In [36]:
COL_USER = "UserId"
COL_ITEM = "ItemId"
COL_RATING = "Rating"
COL_PREDICTION = "Rating"

ndcg_at_k(
    rating_true=df_t,
    rating_pred=df_p,
    col_user=COL_USER,
    col_item=COL_ITEM,
    col_rating=COL_RATING,
    col_prediction=COL_PREDICTION,
    relevancy_method="top_k",
    k=10,
    threshold=101,
)

1.0

In [93]:
sys.path.insert(0, "/recsys_data/RecSys/recommenders-tf2/myfork/recommenders/recommenders/models/deeprec")

In [100]:
from deeprec_utils import ndcg_score, hit_score

ModuleNotFoundError: No module named 'recommenders'

In [96]:
def ndcg_score(y_true, y_score, k=10):
    """Computing ndcg score metric at k.

    Args:
        y_true (np.ndarray): Ground-truth labels.
        y_score (np.ndarray): Predicted labels.

    Returns:
        numpy.ndarray: ndcg scores.
    """
    best = dcg_score(y_true, y_true, k)
    actual = dcg_score(y_true, y_score, k)
    return actual / best

def hit_score(y_true, y_score, k=10):
    """Computing hit score metric at k.

    Args:
        y_true (np.ndarray): ground-truth labels.
        y_score (np.ndarray): predicted labels.

    Returns:
        np.ndarray: hit score.
    """
    ground_truth = np.where(y_true == 1)[0]
    argsort = np.argsort(y_score)[::-1][:k]
    for idx in argsort:
        if idx in ground_truth:
            return 1
    return 0


def dcg_score(y_true, y_score, k=10):
    """Computing dcg score metric at k.

    Args:
        y_true (np.ndarray): Ground-truth labels.
        y_score (np.ndarray): Predicted labels.

    Returns:
        np.ndarray: dcg scores.
    """
    k = min(np.shape(y_true)[-1], k)
    order = np.argsort(y_score)[::-1]
    y_true = np.take(y_true, order[:k])
    gains = 2 ** y_true - 1
    discounts = np.log2(np.arange(len(y_true)) + 2)
    return np.sum(gains / discounts)

In [99]:
ndcg_score(df_t['Rating'], -df_p['Rating']), hit_score(df_t['Rating'], -df_p['Rating'])

(0.43067655807339306, 1)